<div class="section-body contain-lg">

  <div>
    <h1>Cadastro de módulos</h1>
  </div>

  <form #formulario="ngForm" autocomplete="off" (ngSubmit)="salvar(formulario)">

    <div class="ui-g formulario">

      <div class="ui-g-12 ui-md-12 ui-lg-8 ui-fluid">
        <label class="label-form">Descrição do módulo</label>

        <input pInputText type="text" name="descricao" [(ngModel)]="modulo.descricao" #descricao="ngModel" required
          minlength="5" class="form-control">
        <app-message [control]="descricao" error="required" text="Descrição é obrigatória"></app-message>
        <app-message [control]="descricao" error="minlength" text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres"></app-message>

      </div>


      <div class="ui-g ui-g-12">
        <button pButton type="submit" [disabled]="formulario.invalid ? 'disabled' : ''" label="Salvar" class="btn btn-primary"></button>
      </div>
    </div>

  </form>

  <div class="ui-g-12">
    <div class="divisor">
      <label>Módulos cadastrados</label>
      <hr>
    </div>
  </div>

  <div class="ui-g-12">

    <table class="table table-hover" *ngIf="modulos$ | async as modulos; else loading">
      <thead>
        <tr>
          <th>#</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let modulo of modulos">
          <td>{{ modulo.codigo }}</td>
          <td>{{ modulo.descricao }}</td>
        </tr>
      </tbody>
    </table>

    <ng-template #loading>
      <span>Carregando Modulos...</span>
    </ng-template>
  </div>




</div>