<div class="section-body contain-lg">

  <div>
    <h1>Cadastro de Template de Tarefas</h1>
  </div>

  <form #formulario="ngForm" autocomplete="off" (ngSubmit)="salvar(formulario)">

    <div class="ui-g formulario">

      <div class="ui-g-12 ui-md-12 ui-lg-12 ui-fluid">
        <label class="label-form">Descrição da tarefa</label>

        <input pInputText type="text" name="descricao" [(ngModel)]="tarefaTemplate.descricao" #descricao="ngModel"
          required minlength="5" class="form-control">
        <app-message [control]="descricao" error="required" text="Descrição é obrigatória"></app-message>
        <app-message [control]="descricao" error="minlength" text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres"></app-message>

      </div>

      <div class="ui-g-12 ui-md-12 ui-lg-6 ui-fluid">
        <label class="label-form">Tipo de tarefa</label>

        <p-dropdown [options]="tipos" class="form-control" [(ngModel)]="tarefaTemplate.tipo"
        name="tipoTarefa" required></p-dropdown>
        <!-- <app-message error="required" text="Selecione o tipo de tarefa"></app-message> -->

      </div>

      <div class="ui-g">
        <label class="label-form">Período de validade</label>
        <p-multiSelect [options]="meses" [(ngModel)]="selectMeses" class="form-control" [panelStyle]="{minWidth:'10em'}"
           name="periodoValidade">
          <ng-template let-mes pTemplate="item">
            <div style="font-size:14px;float:right;margin-top:4px">{{mes.label}}</div>
          </ng-template>
        </p-multiSelect>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label class="label-form">Cidade</label>

        <p-autoComplete required class="form-control" [minLength]="3" [(ngModel)]="utilizador.cidade" field="nome"
          [suggestions]="cidadesFiltradas" (completeMethod)="buscarCidades($event)" name="cidade" [forceSelection]="true"
          #cid="ngModel" required>
          <ng-template let-cid pTemplate="utilizador.cidade">
            <span style="font-size:18px">{{cid.nome + ' - ' + cid.estado}}</span>
          </ng-template>
        </p-autoComplete>
        <app-message [control]="cid" error="required" text="Cidade é obrigatória"></app-message>
      </div>

      <div class="ui-g ui-g-12">
        <button pButton type="submit" [disabled]="formulario.invalid ? 'disabled' : ''" label="Salvar" class="btn btn-primary"></button>
      </div>
    </div>

  </form>

  <div class="ui-g-12">
    <div class="divisor">
      <label>Tarefas cadastradas</label>
      <hr>
    </div>
  </div>

  <div class="ui-g-12 ui-md-12 ui-lg-8 ui-fluid">
    <label class="label-form">Pesquisar por descrição</label>

    <input pInputText type="text" #pesquisa="ngModel" [(ngModel)]="pesquisa.descricao" name="pesquisa" class="form-control">

  </div>
  <div class="ui-g ui-g-12">
    <button pButton type="submit" label="Pesquisar" class="btn btn-info"></button>
  </div>

  <div class="ui-g-12">

    <p-table [columns]="colunas" [value]="tarefas" dataKey="codigo">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 3em" *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">

      </ng-template>
    </p-table>
  </div>

</div>
