<div class="section-body contain-lg">

  <div>
    <h1>Cadastro de Setores de Ingresso</h1>
  </div>

  <form #formulario="ngForm" autocomplete="off" (ngSubmit)="salvar(formulario)">

    <div class="ui-g formulario">

      <div class="ui-g-12 ui-md-8 ui-lg-8 ui-fluid">
        <label class="label-form">Descrição do setor</label>

        <input pInputText type="text" name="descricao" [(ngModel)]="setorIngresso.descricao" #descricao="ngModel" required
          minlength="3" class="form-control">
        <app-message [control]="descricao" error="required" text="Descrição é obrigatória"></app-message>
        <app-message [control]="descricao" error="minlength" text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-lg-2 ui-fluid">
        <label class="label-form">Situação</label>
        <div class="ui-g-12">
          <p-checkbox label="Ativo" binary=true name="ativo" [(ngModel)]="setorIngresso.ativo"></p-checkbox>
        </div>
      </div>


      <div class="ui-g ui-g-12">
        <button pButton type="submit" [disabled]="formulario.invalid ? 'disabled' : ''" label="Salvar" class="btn btn-primary"></button>
      </div>
    </div>

  </form>

  <div class="ui-g-12">
    <div class="divisor">
      <label>Setores cadastrados</label>
      <hr>
    </div>
  </div>

  <div class="ui-g-12">

    <table class="table table-hover" *ngIf="setorIngresso$ | async as setores; else loading" >
      <thead>
        <tr>
          <th>ID</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let setor of setores" >
          <td>{{ setor.codigo }}</td>
          <td>{{ setor.descricao }}</td>
        </tr>
      </tbody>
    </table>

    <ng-template #loading>
      <span>Carregando Setores...</span>
    </ng-template>
  </div>


</div>
