<div class="section-body contain-lg">

  <div>
    <h1>Novo Utilizador</h1>
  </div>

  <form #formulario="ngForm" autocomplete="off" (ngSubmit)="salvar(formulario)">

    <div class="divisor">
      <label>Preencha as informações</label>
      <hr>
    </div>

    <div class="ui-g formulario">

      <div class="ui-g-12 ui-md-12 ui-lg-6 ui-fluid">
        <label class="label-form">Nome</label>

        <input pInputText type="text" name="nome" [(ngModel)]="utilizador.nome" #nome="ngModel" required minlength="5"
          class="form-control">
        <app-message [control]="nome" error="required" text="Nome é obrigatório"></app-message>
        <app-message [control]="nome" error="minlength" text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres"></app-message>

      </div>

      <div class="ui-g-12 ui-md-4 ui-lg-2 ui-fluid">
        <label class="label-form">CPF/CNPJ</label>

        <input pInputText type="text" required class="form-control" name="cpfCnpj" [(ngModel)]="utilizador.cpfCnpj"
          #cpfCnpj="ngModel">
        <app-message [control]="cpfCnpj" error="required" text="CPF/CNPJ é obrigatório"></app-message>

      </div>

      <div class="ui-g-12 ui-md-4 ui-lg-2 ui-fluid">
        <label class="label-form">Inscr. Estadual</label>
        <input pInputText type="text" class="form-control" name="ie" [(ngModel)]="utilizador.ie">
      </div>

      <div class="ui-g-12 ui-md-4 ui-lg-2 ui-fluid">
        <label class="label-form">Inscr. Municipal</label>
        <input pInputText type="text" class="form-control" name="inscricaoMunicipal" [(ngModel)]="utilizador.inscricaoMunicipal">
      </div>

      <div class="ui-g-6 ui-md-3 ui-lg-2 ui-fluid">
        <label class="label-form">Qtd. Filiais</label>
        <input pInputText type="number" class="form-control" min="0" name="quantidadeFiliais" [(ngModel)]="utilizador.quantidadeFiliais">
      </div>

      <div class="ui-g-6 ui-md-3 ui-lg-2 ui-fluid">
        <label class="label-form">Nº de Acessos</label>
        <input pInputText type="number" class="form-control" min="1" name="acessosPermitidos" [(ngModel)]="utilizador.acessosPermitidos">
      </div>

      <div class="ui-g-6 ui-md-3 ui-lg-2 ui-fluid">
        <label class="label-form">Situação</label>
        <div class="ui-g-12">
          <p-checkbox label="Ativo" binary=true name="ativo" [(ngModel)]="utilizador.ativo"></p-checkbox>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="divisor">
          <label>Informações de endereço</label>
          <hr>
        </div>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label class="label-form">Logradouro</label>

        <input pInputText type="text" required min="5" class="form-control" name="logradouro" [(ngModel)]="utilizador.endereco.logradouro"
          #logradouro="ngModel">
        <app-message [control]="logradouro" error="required" text="Logradouro é obrigatório"></app-message>
        <app-message [control]="logradouro" error="minlength" text="Mínimo de {{ logradouro.errors?.minlength?.requiredLength }} caracteres"></app-message>

      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label class="label-form">Bairro</label>
        <input pInputText type="text" class="form-control" name="bairro" [(ngModel)]="utilizador.endereco.bairro">
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label class="label-form">CEP</label>
        <input pInputText type="text" class="form-control" name="cep" [(ngModel)]="utilizador.endereco.cep">
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label class="label-form">Número</label>
        <input pInputText type="text" class="form-control" name="numero" [(ngModel)]="utilizador.endereco.numero">
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label class="label-form">Cidade</label>

        <p-autoComplete required class="form-control" [minLength]="3" [(ngModel)]="utilizador.cidade" field="nome"
          [suggestions]="cidadesFiltradas" (completeMethod)="buscarCidades($event)" name="cidade" [forceSelection]="true"
          #cid="ngModel">
          <ng-template let-cid pTemplate="utilizador.cidade">
            <span style="font-size:18px">{{cid.nome + ' - ' + cid.estado}}</span>
          </ng-template>
        </p-autoComplete>

        <app-message [control]="cid" error="required" text="Cidade é obrigatória"></app-message>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label class="label-form">Observações</label>
        <textarea [rows]="2" class="form-control" pInputTextarea name="observacoes" [(ngModel)]="utilizador.endereco.observacoes"></textarea>
      </div>
    </div>
    <div class="ui-g btn-container">
      <button pButton type="submit" [disabled]="formulario.invalid ? 'disabled' : ''" label="Salvar" class="btn btn-primary"></button>
      <button pButton type="button" label="Novo" class="btn btn-primary" (click)="novo(formulario)"></button>
      <a pButton label="Pesquisa" class="btn btn-warning"></a>
    </div>

  </form>
</div>