<!-- BEGIN HEADER-->
<header id="header">
  <div class="headerbar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="headerbar-left">
      <ul class="header-nav header-nav-options">
        <li class="header-nav-brand">
          <div class="brand-holder">
            <a href="#">
              <span class="text-lg text-bold text-primary">S I P E</span>
            </a>
          </div>
        </li>
        <li>
          <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
            <i class="fa fa-bars"></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="headerbar-right">
      <ul class="header-nav header-nav-options">
        <li>
          <!-- Search form -->
          <form class="navbar-search" role="search"> 
            <div class="form-group">
              <input type="text" class="form-control" name="headerSearch" placeholder="Enter your keyword">
            </div>
            <button type="submit" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
          </form>
        </li>
        <li class="dropdown hidden-xs">
          <a href="javascript:void(0);" class="btn btn-icon-toggle btn-default" data-toggle="dropdown">
            <i class="fa fa-bell"></i><sup class="badge style-danger">3</sup>
          </a>
          <ul class="dropdown-menu animation-expand">
            <li class="dropdown-header">Today's messages</li>
            <li>
              <a class="alert alert-callout alert-warning" href="javascript:void(0);">
                <img class="pull-right img-circle dropdown-avatar" src="../../assets/img/avatar2.jpg" alt="" />
                <strong>Alex Anistor</strong><br />
                <small>Testing functionality...</small>
              </a>
            </li>
            <li>
              <a class="alert alert-callout alert-info" href="javascript:void(0);">
                <img class="pull-right img-circle dropdown-avatar" src="../../assets/img/avatar3.jpg" alt="" />
                <strong>Alicia Adell</strong><br />
                <small>Reviewing last changes...</small>
              </a>
            </li>
            <li class="dropdown-header">Options</li>
            <li><a href="#">View all messages <span class="pull-right"><i class="fa fa-arrow-right"></i></span></a></li>
            <li><a href="#">Mark as read <span class="pull-right"><i class="fa fa-arrow-right"></i></span></a></li>
          </ul>
          <!--end .dropdown-menu -->
        </li>
        <!--end .dropdown -->

      </ul>
      <!--end .header-nav-options -->
      <ul class="header-nav header-nav-profile">
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
            <img src="../../assets/img/avatar1.jpg" alt="" />
            <span class="profile-info">
              {{ auth.jwtPayload?.nome }}
              <small>Administrator</small>
            </span>
          </a>
          <ul class="dropdown-menu animation-dock">
            <li class="dropdown-header">Config</li>
            <li><a href="#">My profile</a></li>
            <li><a href="#">My blog <span class="badge style-danger pull-right">16</span></a></li>
            <li><a href="#">My appointments</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-fw fa-lock"></i> Lock</a></li>
            <li><a href="#" (click)="logout()"><i class="fa fa-fw fa-power-off text-danger"></i>
                Logout</a></li>
          </ul>
          <!--end .dropdown-menu -->
        </li>
        <!--end .dropdown -->
      </ul>
      <!--end .header-nav-profile -->
    </div>
    <!--end #header-navbar-collapse -->
  </div>
</header>