<div class="section-body contain-lg">

  <div>
    <h1>Cadastro de Tipos de Ingresso</h1>
  </div>

  <form #formulario="ngForm" autocomplete="off" (ngSubmit)="salvar(formulario)">

    <div class="ui-g formulario">

      <div class="ui-g-12 ui-md-8 ui-lg-8 ui-fluid">
        <label class="label-form">Descrição do ingresso</label>

        <input pInputText type="text" name="descricao" [(ngModel)]="tipoIngresso.descricao" #descricao="ngModel" required
          minlength="3" class="form-control">
        <app-message [control]="descricao" error="required" text="Descrição é obrigatória"></app-message>
        <app-message [control]="descricao" error="minlength" text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-lg-2 ui-fluid">
        <label class="label-form">Situação</label>
        <div class="ui-g-12">
          <p-checkbox label="Ativo" binary=true name="ativo" [(ngModel)]="tipoIngresso.ativo"></p-checkbox>
        </div>
      </div>


      <div class="ui-g ui-g-12">
        <button pButton type="submit" [disabled]="formulario.invalid ? 'disabled' : ''" label="Salvar" class="btn btn-primary"></button>
      </div>
    </div>

  </form>

  <div class="ui-g-12">
    <div class="divisor">
      <label>Tipos de ingresso cadastrados</label>
      <hr>
    </div>
  </div>

  <div class="ui-g-12">

    <table class="table table-hover" *ngIf="tipoIngresso$ | async as tipos; else loading" >
      <thead>
        <tr>
          <th>ID</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tipo of tipos" >
          <td>{{ tipo.codigo }}</td>
          <td>{{ tipo.descricao }}</td>
        </tr>
      </tbody>
    </table>

    <ng-template #loading>
      <span>Carregando Registros...</span>
    </ng-template>
  </div>


</div>
