<div class="section-body contain-lg">


  <p-dialog header="Selecione a filial" [(visible)]="display" [modal]="true" [responsive]="true" [minWidth]="200"
    [minY]="70" [maximizable]="false" [baseZIndex]="10000" [closable]="false" [closeOnEscape]="false" [resizable]="false">


    <div style="display: inline-block">

      <div class="card card-empresa">
        <div class="card-head card-head-xs style-primary">
          <header>Solar Comercio e Agroindustria LTDA</header>
        </div>
        <div class="card-body" style="text-align: center">
          <i class="fa fa-check" style="font-size: 25px; color: #cccccc"></i>
        </div>
      </div>

    </div>

    <p-footer>
      <!-- <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Yes"></button> -->
    </p-footer>
  </p-dialog>



</div>