
.ui-dialog-content-empresa {
    text-align: center;
    max-height: 400px;
}

.ui-dialog .ui-dialog-content {
    max-height: 400px !important;
}

.card-empresa {
    height: 100px; 
    max-height: 300px;
    margin: 8px;
}

tr:nth-child(even).ui-state-highlight {
    background-color: #1EAFA6;
    color: #FFFFFF;
}

tr:nth-child(odd).ui-state-highlight {
    background-color: #1EAFA6;
    color: #FFFFFF;
}

td {
    text-align: center; 
}

tr>td{
    padding: 10px 10px;  
}

th {
    text-align: center;
    background: none;
}

tr {
    padding: 10px 10px;
}


