<div class="section-body contain-lg">

  <div>
    <h1>Novo Usuário</h1>
  </div>

  <form #formulario="ngForm" autocomplete="off" (ngSubmit)="salvar()">

    <div class="divisor">
      <label>Preencha as informações</label>
      <hr>
    </div>

    <div class="ui-g formulario">

      <div class="ui-g-12 ui-md-6 ui-lg-6 ui-fluid">
        <label class="label-form">Nome do usuário</label>

        <input pInputText type="text" name="nome" [(ngModel)]="usuario.nome" #nome="ngModel" required minlength="5"
          class="form-control">
        <app-message [control]="nome" error="required" text="Nome é obrigatório"></app-message>
        <app-message [control]="nome" error="minlength" text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres"></app-message>

      </div>

      <div class="ui-g-12 ui-md-6 ui-lg-6 ui-fluid">
        <label class="label-form">E-mail</label>

        <input pInputText type="email" email required class="form-control" name="email" [(ngModel)]="usuario.email"
          #email="ngModel">
        <app-message [control]="email" error="required" text="E-mail é obrigatório"></app-message>

      </div>

      <div class="ui-g-12 ui-md-4 ui-lg-4 ui-fluid">
        <label class="label-form">Senha</label>
        <input pInputText type="password" class="form-control" name="senha" [(ngModel)]="usuario.senha">
      </div>

      <div class="ui-g-12 ui-md-4 ui-lg-2 ui-fluid">
        <label class="label-form">Situação</label>
        <div class="ui-g-12">
          <p-checkbox label="Ativo" binary=true name="ativo" [(ngModel)]="usuario.ativo"></p-checkbox>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="divisor">
          <label>Liberar empresas para o usuário</label>
          <hr>
        </div>
      </div>

      <div class="ui-g-12">

        <mat-table #table [dataSource]="dataSource">

          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="col_empresa_nome">
            <mat-header-cell *matHeaderCellDef> Empresa </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.empresa.nome}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="col_empresa_cnpj">
            <mat-header-cell *matHeaderCellDef> Cnpj </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.empresa.cnpj}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="col_modulo">
            <mat-header-cell *matHeaderCellDef> Módulo </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.modulo.descricao}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="col_niveis">
            <mat-header-cell *matHeaderCellDef> Nível </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-select style="min-width: 200px;" placeholder="Selecione" [value]="element.nivel" (selectionChange)="selecionar($event, element)">
                <mat-option *ngFor="let niv of niveis" value="{{ niv.codigo }}">
                  {{ niv.label }}
                </mat-option>
              </mat-select>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>
        </mat-table>



        <div class="ui-g ui-g-12">
          <button pButton type="submit" [disabled]="formulario.invalid ? 'disabled' : ''" label="Salvar" class="btn btn-primary"></button>
          <button pButton type="button" label="Novo" class="btn btn-primary" (click)="novo(formulario)"></button>
          <a pButton label="Pesquisa" class="btn btn-warning" (click)="show()"></a>
        </div>

      </div>
    </div>

  </form>



</div>